In [10]:
import pandas as pd

arquivo = pd.read_csv("Dados.csv")
#arquivo.info()
display(arquivo.head(25))

,CODIGO_IES,NOME_IES,CATEGORIA_ADMINISTRATIVA,ORGANIZACAO_ACADEMICA,CODIGO_CURSO,NOME_CURSO,GRAU,AREA_OCDE,MODALIDADE,SITUACAO_CURSO,QT_VAGAS_AUTORIZADAS,CARGA_HORARIA,CODIGO_AREA_OCDE_CINE,AREA_OCDE_CINE,CODIGO_MUNICIPIO,MUNICIPIO,UF,REGIAO
0,4751,CENTRO UNIVERSITÁRIO UNIFATECIE,Privada com fins lucrativos,Centro Universitário,1556773,ENGENHARIA AGRONÔMICA,Bacharelado,Agronomia,Educação a Distância,Em atividade,1000,4400,301,Agronomia,3541406,Presidente Prudente,SP,SUDESTE
1,1491,CENTRO UNIVERSITÁRIO INTERNACIONAL,Privada com fins lucrativos,Centro Universitário,1186955,LETRAS,Licenciatura,Formação de professor de língua/literatura ver...,Educação a Distância,Em atividade,3000,3992,58,Formação de professor de língua/literatura ver...,2516201,Sousa,PB,NORDESTE
2,1472,CENTRO UNIVERSITÁRIO LEONARDO DA VINCI,Privada com fins lucrativos,Centro Universitário,99950,GEOGRAFIA,Licenciatura,Formação de professor de geografia,Educação a Distância,Em atividade,7620,3500,39,Formação de professor de geografia,2800308,Aracaju,SE,NORDESTE
3,221,UNIVERSIDADE CRUZEIRO DO SUL,Privada com fins lucrativos,Universidade,1467998,EDUCAÇÃO FÍSICA,Bacharelado,Educação física,Educação a Distância,Em atividade,1200,3200,328,Educação física,4113205,Lapa,PR,SUL
4,1472,CENTRO UNIVERSITÁRIO LEONARDO DA VINCI,Privada com fins lucrativos,Centro Universitário,1516788,SERVIÇOS PENAIS,Tecnológico,NaN,Educação a Distância,Em atividade,1500,1980,357,Serviços penais,2601706,Belo Jardim,PE,NORDESTE
5,926,Centro Universitário Anhanguera Pitágoras Unop...,Privada com fins lucrativos,Centro Universitário,1563004,GESTÃO COMERCIAL,Tecnológico,NaN,Educação a Distância,Em atividade,3000,1700,162,Gestão comercial,3540705,Porto Ferreira,SP,SUDESTE
6,671,UNIVERSIDADE ANHANGUERA,Privada com fins lucrativos,Universidade,1107827,GESTÃO COMERCIAL,Tecnológico,NaN,Educação a Distância,Em atividade,2500,1700,162,Gestão comercial,2404200,Goianinha,RN,NORDESTE
7,1270,CENTRO UNIVERSITÁRIO ESTÁCIO DE RIBEIRÃO PRETO,Privada com fins lucrativos,Centro Universitário,1299253,ANÁLISE E DESENVOLVIMENTO DE SISTEMAS,Tecnológico,Análise e Desenvolvimento de Sistemas (Tecnólogo),Educação a Distância,Em atividade,3630,2568,196,Análise e Desenvolvimento de Sistemas (Tecnólogo),4218202,Timbó,SC,SUL
8,1153,UNIVERSIDADE CÂNDIDO MENDES,Privada sem fins lucrativos,Universidade,1568727,GESTÃO DA TECNOLOGIA DA INFORMAÇÃO,Tecnológico,Gestão da informação,Educação a Distância,Em atividade,848,2100,190,Gestão da informação,3300456,Belford Roxo,RJ,SUDESTE
9,1196,UNIVERSIDADE CESUMAR,Privada com fins lucrativos,Universidade,1615805,DANÇA,Licenciatura,Formação de professor de dança,Educação a Distância,Em atividade,3750,3903,28,Formação de professor de dança,2503704,Cajazeiras,PB,NORDESTE
10,1472,CENTRO UNIVERSITÁRIO LEONARDO DA VINCI,Privada com fins lucrativos,Centro Universitário,1551528,AGROCOMPUTAÇÃO,Tecnológico,NaN,Educação a Distância,Em atividade,7610,2540,455,Agrocomputação,4307609,Estância Velha,RS,SUL
11,1196,UNIVERSIDADE CESUMAR,Privada com fins lucrativos,Universidade,1170032,CIÊNCIAS CONTÁBEIS,Bacharelado,Ciências contábeis,Educação a Distância,Em atividade,10000,3684,138,Ciências contábeis,3522802,Itaporanga,SP,SUDESTE
12,4167,INSTITUTO DE ENSINO SUPERIOR DA FUPESP,Pública Municipal,Faculdade,82539,ADMINISTRAÇÃO,Bacharelado,Administração,Educação Presencial,Em atividade,50,3520,141,Administração,3536505,Paulínia,SP,SUDESTE
13,221,UNIVERSIDADE CRUZEIRO DO SUL,Privada com fins lucrativos,Universidade,1321293,ARTES VISUAIS,Licenciatura,Formação de professor de artes visuais,Educação a Distância,Em atividade,2500,2800,21,Formação de professor de artes visuais,2604601,Condado,PE,NORDESTE
14,298,Universidade Pitágoras Unopar Anhanguera,Privada com fins lucrativos,Universidade,111090,ANÁLISE E DESENVOLVIMENTO DE SISTEMAS,Tecnológico,Análise e Desenvolvimento de Sistemas (Tecnólogo),Educação a Distância,Em atividade,37520,2100,196,Análise e Desenvolvimento de Sistemas (Tecnólogo),5200258,Águas Lindas de Goiás,GO,CENTRO-OESTE
15,322,UNIVERSIDADE PAULISTA,Privada com fins lucrativos,Universidade,1286755,SEGURANÇA NO TRABALHO,Tecnológico,Saúde e segurança no trabalho,Educação a Distância,Em atividade,73260,2520,351,Saúde e segurança no trabalho,4314100,Passo Fundo,RS,SUL
16,3588,CENTRO UNIVERSITÁRIO DOM PEDRO II,Privada com fins lucrativos,Centro Universitário,1489850,JOGOS DIGITAIS,Tecnológico,NaN,Educação a Distância,Em atividade,1600,2100,193,Jogos digitais,2933000,Valente,BA,NORDESTE
17,242,CENTRO UNIVERSITÁRIO ANHANGUERA PITÁGORAS AMPLI,Privada com fins lucrativos,Centro Universitário,1541398,"SERVIÇOS JURÍDICOS, CARTORÁRIOS E NOTARIAIS",Tecnológico,NaN,Educação a Distância,Em atividade,5000,1680,452,Serviços jurídicos e cartoriais,2504009,Campina Grande,PB,NORDESTE
18,1472,CENTRO UNIVERSITÁRIO LEONARDO DA VINCI,Privada com fins lucrativos,Centro Universitário,1551482,LETRAS - ALEMÃO,Licenciatura,Formação de professor de língua/literatura est...,Educação a Distância,Em atividade,7610,3500,46,Formação de professor de língua/literatura est...,2908408,Conceição do Coité,BA,NORDESTE
19,3955,FACULDADES INTEGRADAS DE CATAGUASES,Privada sem fins lucrativos,Faculdade,7061,LETRAS - PORTUGUÊS E INGLÊS,Licenciatura,Formação de professor de língua/literatura ver...,Educação Presencial,Em extinção,50,3710,60,Formação de professor de língua/literatura ver...,3115300,Cataguases,MG,SUDESTE
20,22102,Faculdade de Tecnologia Senac Curitiba Portão,Privada sem fins lucrativos,Faculdade,5001543,PROCESSOS GERENCIAIS,Tecnológico,NaN,Educação Presencial,Em atividade,80,0,149,Gestão de negócios,4106902,Curitiba,PR,SUL
21,322,UNIVERSIDADE PAULISTA,Privada com fins lucrativos,Universidade,1268545,LETRAS - PORTUGUÊS,Licenciatura,Formação de professor de língua/literatura ver...,Educação a Distância,Em atividade,73260,3280,58,Formação de professor de língua/literatura ver...,2930501,Serrinha,BA,NORDESTE
22,417,UNIVERSIDADE CIDADE DE SÃO PAULO,Privada com fins lucrativos,Universidade,1266717,ENGENHARIA DE PRODUÇÃO,Bacharelado,Engenharia de produção,Educação a Distância,Em atividade,1500,3600,279,Engenharia de produção,5103403,Cuiabá,MT,CENTRO-OESTE
23,135,Claretiano - Centro Universitário,Privada sem fins lucrativos,Centro Universitário,116080,LETRAS - PORTUGUÊS E INGLÊS,Licenciatura,Formação de professor de língua/literatura ver...,Educação a Distância,Em atividade,301,3700,60,Formação de professor de língua/literatura ver...,3301702,Duque de Caxias,RJ,SUDESTE
24,1472,CENTRO UNIVERSITÁRIO LEONARDO DA VINCI,Privada com fins lucrativos,Centro Universitário,106072,GESTÃO COMERCIAL,Tecnológico,NaN,Educação a Distância,Em atividade,7680,1980,162,Gestão comercial,2300200,Acaraú,CE,NORDESTE

Calculando quantas vagas estão disponivel por curso em todo o brasil.

In [6]:
qtd_cursos = arquivo[["NOME_CURSO", "REGIAO", "QT_VAGAS_AUTORIZADAS"]].groupby(["NOME_CURSO", "REGIAO"]).sum()

final = qtd_cursos.query('QT_VAGAS_AUTORIZADAS != 0')

display(final)

                                                      QT_VAGAS_AUTORIZADAS
NOME_CURSO                         REGIAO
ABI - ARTES VISUAIS                SUDESTE                               1
ABI - CIÊNCIAS BIOLÓGICAS          CENTRO-OESTE                         40
                                   SUDESTE                              82
ABI - CIÊNCIAS DA ATIVIDADE FÍSICA SUDESTE                              60
ABI - CIÊNCIAS DA NATUREZA         SUDESTE                              40
...                                                                    ...
ÓPTICA E OPTOMETRIA                IGNORADO/EXTERIOR                  1000
                                   NORDESTE                         123550
                                   NORTE                             38500
                                   SUDESTE                          184970
                                   SUL                               83900

[4657 rows x 1 columns]

Limitando as informações apenas para as vagas na regiao sudeste do pais.

In [4]:
df = pd.DataFrame(arquivo)

regiao = df[df['REGIAO'] == 'SUDESTE']

cursos = regiao[["NOME_CURSO", "REGIAO", "QT_VAGAS_AUTORIZADAS"]].groupby(["NOME_CURSO", "REGIAO"]).sum()

ativos = cursos.query('QT_VAGAS_AUTORIZADAS != 0')

display(ativos)

                                                            QT_VAGAS_AUTORIZADAS
NOME_CURSO                                         REGIAO
ABI - ARTES VISUAIS                                SUDESTE                     1
ABI - CIÊNCIAS BIOLÓGICAS                          SUDESTE                    82
ABI - CIÊNCIAS DA ATIVIDADE FÍSICA                 SUDESTE                    60
ABI - CIÊNCIAS DA NATUREZA                         SUDESTE                    40
ABI - CIÊNCIAS DA NATUREZA: CIÊNCIAS E BIOLOGIA... SUDESTE                    80
...                                                                          ...
VITICULTURA E ENOLOGIA                             SUDESTE                  9420
WEB DESIGN                                         SUDESTE                   920
WEB DESIGN E INTERNET                              SUDESTE                   200
ZOOTECNIA                                          SUDESTE                 20596
ÓPTICA E OPTOMETRIA                                SUDESTE                184970

[1392 rows x 1 columns]

Limitando as informações para maior cidade da região sudeste.

In [8]:
df = pd.DataFrame(arquivo)

estado = df[df['UF'] == 'SP']

cursos_sp = estado[["NOME_CURSO", "UF", "QT_VAGAS_AUTORIZADAS"]].groupby(["NOME_CURSO", "UF"]).sum()

ativos_sp = cursos_sp.query('QT_VAGAS_AUTORIZADAS != 0')

display(ativos_sp)

                                       QT_VAGAS_AUTORIZADAS
NOME_CURSO                         UF
ABI - ARTES VISUAIS                SP                     1
ABI - CIÊNCIAS BIOLÓGICAS          SP                    82
ABI - CIÊNCIAS DA ATIVIDADE FÍSICA SP                    60
ABI - CIÊNCIAS SOCIAIS             SP                     1
ABI - CIêNCIAS SOCIAIS             SP                     1
...                                                     ...
VITICULTURA E ENOLOGIA             SP                  7420
WEB DESIGN                         SP                   920
WEB DESIGN E INTERNET              SP                   200
ZOOTECNIA                          SP                 12120
ÓPTICA E OPTOMETRIA                SP                106320

[1105 rows x 1 columns]

Mostrando as faculdades de São Paulo e suas quantidades de vagas, sendo são paulo o maior municipio de SP

In [14]:
df = pd.DataFrame(arquivo)

faculdades = df[df['MUNICIPIO'] == 'São Paulo']

faculdades_sp = faculdades[["NOME_IES", "MUNICIPIO", "QT_VAGAS_AUTORIZADAS"]].groupby(["NOME_IES", "MUNICIPIO"]).sum()

ativos_faculdades_sp = faculdades_sp.query('QT_VAGAS_AUTORIZADAS != 0')

display(ativos_faculdades_sp)

                                                              QT_VAGAS_AUTORIZADAS
NOME_IES                                           MUNICIPIO
BRAIN BUSINESS SCHOOL                              São Paulo                   150
CENTRO SUPERIOR DE ESTUDOS JURÍDICOS CARLOS DRU... São Paulo                   140
CENTRO UNIVERSITARIO PROJEÇÃO                      São Paulo                  1800
CENTRO UNIVERSITÁRIO ADVENTISTA DE SÃO PAULO       São Paulo                 82580
CENTRO UNIVERSITÁRIO ANHANGUERA DE SÃO PAULO       São Paulo                108903
...                                                                            ...
UNIVERSIDADE SÃO JUDAS TADEU                       São Paulo                 68059
UNIVERSIDADE SÃO MARCOS                            São Paulo                   240
UNIVERSIDADE VILA VELHA                            São Paulo                  2200
Universidade Pitágoras Unopar Anhanguera           São Paulo                750839
Universidade Universus Veritas Guarulhos           São Paulo                 23390

[364 rows x 1 columns]

Mostrando o menor municipio de SP e suas respectivas vagas, sendo que há 1.487 habitantes nessa região.

In [50]:
df = pd.DataFrame(arquivo)

faculdades = df[df['MUNICIPIO'] == 'Flora Rica']

faculdades_sp = faculdades[["NOME_IES", "MUNICIPIO", "QT_VAGAS_AUTORIZADAS"]].groupby(["NOME_IES", "MUNICIPIO"]).sum()

ativos_faculdades_msp = faculdades_sp.query('QT_VAGAS_AUTORIZADAS != 0')

display(ativos_faculdades_msp)

                                                               QT_VAGAS_AUTORIZADAS
NOME_IES                                           MUNICIPIO
Fundação Universidade Virtual do Estado de São ... Flora Rica                  9999

Verificando qual a quantidade de vagas liberadas por Grau.

In [25]:
df = pd.DataFrame(arquivo)

faculdades = df[df['MUNICIPIO'] == 'São Paulo']

faculdades_sp = faculdades[["MUNICIPIO", "GRAU", "QT_VAGAS_AUTORIZADAS",]].groupby(["MUNICIPIO","GRAU"]).sum()

grau_faculdades_sp = faculdades_sp.query('QT_VAGAS_AUTORIZADAS != 0')

display(grau_faculdades_sp)

                                         QT_VAGAS_AUTORIZADAS
MUNICIPIO GRAU
São Paulo Bacharelado                                 4075538
          Licenciatura                                2662769
          Sequencial                                    31143
          Tecnológico                                 6209957
          Área Básica de Ingresso (ABI)                    83

Verificando quantidade de vagas por Modalidade.

In [51]:
df = pd.DataFrame(arquivo)

faculdades = df[df['MUNICIPIO'] == 'São Paulo']

faculdades_sp = faculdades[["MUNICIPIO", "MODALIDADE", "QT_VAGAS_AUTORIZADAS",]].groupby(["MUNICIPIO","MODALIDADE"]).sum()

mod_faculdades_sp = faculdades_sp.query('QT_VAGAS_AUTORIZADAS != 0')

display(mod_faculdades_sp)

                                QT_VAGAS_AUTORIZADAS
MUNICIPIO MODALIDADE
São Paulo Educação Presencial                1233629
          Educação a Distância              11745861

Verificando quantidade de universidade para fins lucrativos.

In [52]:
df = pd.DataFrame(arquivo)

faculdades = df[df['MUNICIPIO'] == 'São Paulo']

faculdades_sp = faculdades[["MUNICIPIO", "CATEGORIA_ADMINISTRATIVA", "QT_VAGAS_AUTORIZADAS",]].groupby(["MUNICIPIO","CATEGORIA_ADMINISTRATIVA"]).sum()

fins_faculdades_sp = faculdades_sp.query('QT_VAGAS_AUTORIZADAS != 0')

display(fins_faculdades_sp)

                                       QT_VAGAS_AUTORIZADAS
MUNICIPIO CATEGORIA_ADMINISTRATIVA
São Paulo Privada com fins lucrativos              10500013
          Privada sem fins lucrativos               2310697
          Pública Estadual                           105561
          Pública Federal                              5674
          Pública Municipal                           57545

Verificando qual curso temos mais vagas na região de São Paulo.

In [12]:
df = pd.DataFrame(arquivo)



qt = df[df['MUNICIPIO'] == 'São Paulo']


faculdades_sp = qt[["MUNICIPIO", "AREA_OCDE_CINE", "QT_VAGAS_AUTORIZADAS",]].groupby(["MUNICIPIO","AREA_OCDE_CINE"]).sum()

qtt = faculdades_sp.sort_values(by='QT_VAGAS_AUTORIZADAS', ascending=False)

cursos_faculdades_sp = qtt.query('QT_VAGAS_AUTORIZADAS != 0')


display(cursos_faculdades_sp.head(20))


melhores = cursos_faculdades_sp

                                                              QT_VAGAS_AUTORIZADAS
MUNICIPIO AREA_OCDE_CINE
São Paulo Pedagogia                                                         580215
          Administração                                                     491028
          Administração pública                                             333622
          Marketing                                                         315806
          Ciências contábeis                                                308424
          Gestão de pessoas                                                 296976
          Análise e Desenvolvimento de Sistemas (Tecnólogo)                 287823
          Gestão de negócios                                                265168
          Gestão financeira                                                 250497
          Formação de professor de língua/literatura vern...                245007
          Estética e Cosmética                                              235656
          Logística                                                         227013
          Educação física                                                   219620
          Formação de professor de matemática                               218947
          Engenharia de produção                                            213767
          Gestão comercial                                                  205677
          Formação de professor de língua/literatura vern...                204339
          Fisioterapia                                                      198837
          Formação de professor de história                                 196698
          Serviço social                                                    193242

In [21]:
df = pd.DataFrame(arquivo)



qt1 = df[df['MUNICIPIO'] == 'São Paulo']

qt = qt1[qt1['CATEGORIA_ADMINISTRATIVA'] != 'Privada com fins lucrativos']


faculdades_sp = qt[["MUNICIPIO", "AREA_OCDE_CINE", "QT_VAGAS_AUTORIZADAS",]].groupby(["MUNICIPIO","AREA_OCDE_CINE"]).sum()

qtt = faculdades_sp.sort_values(by='QT_VAGAS_AUTORIZADAS', ascending=False)

cursos_faculdades_sp = qtt.query('QT_VAGAS_AUTORIZADAS != 0')


display(cursos_faculdades_sp.head(20))

                                                              QT_VAGAS_AUTORIZADAS
MUNICIPIO AREA_OCDE_CINE
São Paulo Pedagogia                                                         157770
          Administração                                                     153550
          Fisioterapia                                                       87439
          Ciências contábeis                                                 82251
          Formação de professor de língua/literatura vern...                 74697
          Gestão de pessoas                                                  71802
          Engenharia de produção                                             62788
          Gestão de negócios                                                 61228
          Marketing                                                          60441
          Gestão financeira                                                  58520
          Gestão comercial                                                   54140
          Logística                                                          54052
          Formação de professor de matemática                                53442
          Nutrição                                                           52860
          Administração pública                                              52821
          Análise e Desenvolvimento de Sistemas (Tecnólogo)                  52139
          Educação física                                                    50696
          Formação de professor de educação física                           49463
          Formação de professor de história                                  41310
          Serviço social                                                     39660